
@font-face
  font-family: Lolapeluza
  src: url(../statics/fonts/Lolapeluza.ttf)

@font-face
  font-family: PraterSansBold
  src: url(../statics/fonts/PraterSansBold.ttf)

.flex-1
  flex: 1

.text-prater
  font-family: PraterSansBold

.text-lolapeluza
  font-family: Lolapeluza
