
@font-face
  font-family: Lolapeluza
  src: url(../statics/fonts/Lolapeluza.ttf)

@font-face
  font-family: PraterSansBold
  src: url(../statics/fonts/PraterSansBold.ttf)

@font-face
  font-family: SilkySmoke
  src: url(../statics/fonts/SilkySmoke.ttf)

.flex-1
  flex: 1

.text-prater
  font-family: PraterSansBold

.text-lolapeluza
  font-family: Lolapeluza

.text-silkysmoke
  font-family: SilkySmoke

.lineup__container
  width: 800px

.opacity-0
  opacity: 0 !important

.position-relative
  position: relative

.q-dialog__backdrop
  background: rgba(0, 0, 0, 0.5)

// Animation

@keyframes pop
  0%
    opacity: 0
    transform: scale(.7)
  70%
    opacity: 1
    transform: scale(1.07)
  100%
    transform: scale(1)

@keyframes: fade
  0%
    opacity: 0
  100%
    opacity: 1

@keyframes pulse
  0%
    transform: scale(.9)
  70%
    transform: scale(1)
    box-shadow: 0 0 0 50px rgba(#333, 0)
  100%
    transform: scale(.9)
    box-shadow: 0 0 0 0 rgba(#333, 0)

.animate-pop
  animation: pop .2s

.animate-fade
  animation: fade .2s

.animate-pulse
  cursor: pointer
  box-shadow: 0 0 0 rgba(200, 200, 200, 0.6)
  animation: pulse 2s infinite

  &:hover
    animation: none !important

.animate-none
  animation: none !important
